# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# IDE/editor
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Node modules (if you have them higher up)
node_modules/
